backend:
  name: github
  repo: nellydundy/mi-vida-mi-ritmo
  branch: main

media_folder: "assets"
public_folder: "/assets"

collections:
  - name: "posts"
    label: "Artículos"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Fecha", name: "date", widget: "datetime" }
      - { label: "Contenido", name: "body", widget: "markdown" }
