backend:
  name: auth0
  auth0_app_id: 52ipgb4Kzi2xSGxXwMLxcqlsdopHsAHN
  auth0_domain: dev-ngm5ua3f4cw12s2w.us.auth0.com
  branch: main
  repo: nellydundy/mi-vida-mi-ritmo

media_folder: "assets"
public_folder: "/assets"

collections:
  - name: "posts"
    label: "Artículos"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Fecha", name: "date", widget: "datetime" }
      - { label: "Contenido", name: "body", widget: "markdown" }
